In [13]:
import pandas as pd
import io
import requests
url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))

# example from: https://stackoverflow.com/questions/32400867/pandas-read-csv-from-url

In [14]:
c

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [15]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

In [16]:
!free

              total        used        free      shared  buff/cache   available
Mem:        2041040     1127240      130716       26516      783084      720144
Swap:       4194300      849152     3345148

In [17]:
!df

Filesystem     1K-blocks     Used Available Use% Mounted on
udev             1007492        0   1007492   0% /dev
tmpfs             204104      700    203404   1% /run
/dev/vda1       50633164 23806328  26810452  48% /
tmpfs            1020520        8   1020512   1% /dev/shm
tmpfs               5120        0      5120   0% /run/lock
tmpfs            1020520        0   1020520   0% /sys/fs/cgroup
/dev/vda15        106858     3668    103190   4% /boot/efi
tmpfs             204104        0    204104   0% /run/user/112
tmpfs             204104        0    204104   0% /run/user/1000

In [18]:
!date

Sat May  2 20:16:18 UTC 2020