# Basic stats and visualizations
Note that you may need to install pymysql
```
conda install -c anaconda pymysql
```

In [16]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import datetime
import pymysql.cursors

def fetchData(sql):
    connection = pymysql.connect(host='localhost', user='test2', password='test2', db='presto', cursorclass=pymysql.cursors.DictCursor)
    try:
        with connection.cursor() as cursor:
            cursor.execute(sql)
            rows = cursor.fetchall()
    finally:
        connection.close()
    return rows

In [17]:
!pwd

/home/mikey/anaconda3/data

In [18]:
display(pd.DataFrame(fetchData("select type,count(*) as c from user group by type")))

   type    c
0  None    8
1     1  932
2     7    5

In [19]:
display(pd.DataFrame(fetchData("select count(*) as c from dish")))

     c
0  545

In [20]:
display(pd.DataFrame(fetchData("select count(*) as c from restaurant")))

     c
0  183